.sign-up-login {
    background-color: #1c1c1c;
    min-height: 100vh;
    position: absolute;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.logo-landing {
    height: 200px;
    width: 700px;
    position: relative;
    top: 15px;
    left: 500px;
}

.tag-line {
    color: whitesmoke;
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: 20px;
}

.login-button {
    background-color: #000000;
    border: 2px solid #1c1c1c;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    position: relative;
    top: 150px;
    right: 50px;
    text-align: center;
    border-radius: 20px;
    text-decoration: none;
    transition: background-color 0.2s ease;
    width: 300px;
}
.login-button:hover {
    background-color: #30a597;
    border-color: #30a597;
}

.sign-up-button {
    background-color: #000000;
    border: 2px solid #1c1c1c;
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    position: relative;
    top: 160px;
    right: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.2s ease;
    width: 300px;
}
.sign-up-button:hover {
    background-color: #30a597;
    border-color: #30a597;
}
