.login-page {
  background-color: #1c1c1c;
  min-height: 100vh;
  position: absolute;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.col-form-label {
  color: white;
}


.login-font {
  color: rgb(224, 221, 221);
  font-size: 3em;
  text-shadow: 0px 2px 6px #50ebd9;
  position: relative;
  left: 41%;
}


.MS-logo {
  height: 67px;
  left: 50;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 300px;
}

.login-form {
  position: relative;
  top: 15%;
  width: 100%;
  height:calc(100% - 60%);
  background-color: #141414;
}

.mb-3 {
  margin-bottom: 2rem !important;
}


.login-label {
  color: white;
  font-size: 1.5em;
  text-shadow: 0px 2px 6px #50ebd9;
  position: relative;
  left: 26%;
  top: 35px;
}

.form-control {
  background-color: #f8f8f8;
  box-shadow: 0px 4px 4px #00000040;
  height: 2%;
  width: 50%;
  position: relative;
  left: 25%;
  top: 40px;
}

.login-btn {
  background-color: #30a597;
  position: relative;
  left: 41%;
  top: 30px;
  width: 150px;
}

.login-btn:hover {
  background-color: #50ebd9;
}

.sign-up-tool-tip {
  position: relative;
  top: 422px;
  left: 155px;
}

.overlap-group {
  background-color: #000000;
  height: 73px;
  position: relative;
  width: 566px;
}

.no-account {
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 32px;
  font-weight: 400;
  left: 22px;
  letter-spacing: 0.32px;
  line-height: normal;
  position: absolute;
  top: 23px;
  width: 544px;
}

.signup-text {
  color: #30a597;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 390px;
  letter-spacing: 0.32px;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 23px;
  white-space: nowrap;
  width: 149px;
}