.sign-up-page {
  background-color: #1c1c1c;
  min-height: 100vh;
  position: absolute;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

.col-form-label {
  color: white;
}

.form-text {
  color: white;
}

.sign-up-label {
  color: white;
  font-size: 1.5em;
  text-shadow: 0px 2px 6px #50ebd9;
  position: relative;
  left: 26%;
  top: 20px;
}

.firstname-label {
  color: white;
  font-size: 1.5em;
  text-shadow: 0px 2px 6px #50ebd9;
  position: relative;
  left: 225px;
  top: 20px;
}

.lastname-field {
  background-color: #f8f8f8;
  box-shadow: 0px 4px 4px #00000040;
  height: 45%;
  width: 50%;
  position: relative;
  margin-left: -112px;
}


.firstname-field {
  background-color: #f8f8f8;
  box-shadow: 0px 4px 4px #00000040;
  height: 45%;
  width: 50%;
  position: absolute;
  margin-left: 112px;
}

.lastname-label {
  color: white;
  font-size: 1.5em;
  text-shadow: 0px 2px 6px #50ebd9;
  position: relative;
  left: 0px;
  top: 20px;
}


.sign-up-font {
  color: rgb(224, 221, 221);
  font-size: 3em;
  text-shadow: 0px 2px 6px #50ebd9;
  position: relative;
  left: 42%;
  bottom: 10px;
}

.MS-logo {
  height: 67px;
  left: 50;
  object-fit: cover;
  position: absolute;
  top: 22px;
  width: 300px;
}

.signup-form {
  position: relative;
  top: 3%;
  width: 100%;
  height:calc(100% - 15%);
  background-color: #141414;
}

.my-form .form-control{
  background-color: #f8f8f8;
  box-shadow: 0px 4px 4px #00000040;
  height: 45%;
  width: 50%;
  position: relative;
  left: 25%;
  top: 20px;
}


.signup-button {
  background-color: #30a597;
  position: relative;
  left: 335px;
  margin-top: 0px;
  bottom: 100px;
  width: 200px;
}

.signup-button:hover {
  background-color: #50ebd9;
}

.sign-up-input{
  background-color: #f8f8f8;
  box-shadow: 0px 4px 4px #00000040;
  width: 50%;
  position: relative;
  left: 25%;
}


.login-tool-tip {
  position: fixed;
  bottom: 0px;
  right: 650px;
}

.overlap-group {
  background-color: #000000;
  height: 73px;
  position: relative;
  width: 566px;
}

.have-account {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 22px;
  letter-spacing: 0.32px;
  line-height: normal;
  position: absolute;
  top: 23px;
  width: 544px;
}

.login-text {
  color: #30a597;
  font-family: "Inter", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 377px;
  letter-spacing: 0.32px;
  line-height: normal;
  position: absolute;
  text-shadow: 0px 4px 4px #00000040;
  top: 23px;
  white-space: nowrap;
  width: 149px;
}
.test {
  position:initial

}