.footer {
    width: 100%;
    height: 85px;
    position: sticky;
    bottom: 0;
    background-color: #1c1c1c;
    color: whitesmoke;
    text-align: center;
}


.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content p {
    font-size: 1em;
    flex: 1;
    text-align: center;
    padding: 10px;
}



.footer-content p span {
    display: block;
    font-size: 12px;
}

