.my-nav {
    background-color: #1c1c1c;
    border-bottom: 1px solid #1b1b1b;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    height: 50px;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1030;
}
.my-nav-links {
    position: relative;
    top:-1px;
}

.nav-link {
    color: whitesmoke;
}

.logo {
    height: 49px;
    width: 200px;
}

.patient-name {
    color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    margin-top: 9px;
    margin-left: 850px;
}
