.container {
    max-width: none;
    display: flex;
    align-items: center;
}

.date-field {
  position:relative;
  bottom: 65px;
  right: 350px;
  width: 100%;
  margin: 0;
  padding: 0;
}


.apt-container {
  position: relative;
  bottom: 50px;
  width: 100%;
}

.appointments {
  position: relative;
  top: 30px;
}

.pending {
    margin-right: 2em;
}

.search-button {
  position: relative;
  bottom: 65px;
  right: 340px;
  width: 100px;
  height: 30px;
  padding: 0;
}

.create-button {
  position: relative;
  bottom: 55px;
  left: 5px;
  width: 250px;
  height: 30px;
  padding: 0;
}

.schedule-button {
  position: relative;
  left: 10px;
  width: 100px;
  height: 30px;
}

.cancel-button {
  position: relative;
  right: 10px;
  width: 100px;
  height: 30px;
}

.table {
  position: relative;;
  width: 100%;
}



