.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.emoji-label.selected img {
    border-bottom: 2px solid rgb(24, 197, 250);
    cursor: pointer;
}

.emoji-label img {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.emoji-label img:hover {
    transform: scale(1.2);
}
