.feelings-text {
    margin-top: 80px;
}

.search-bar {
    margin-top: 5%;
    margin-bottom: -40px;
    margin-left: 38%;
}

.input {
    width: 20%;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #000;
    padding: 10px;
    font-size: 20px;
}

.container {
    max-width: 1200px;
    position: relative;
    top: 70px;
}

.card-text {
    position: relative;
    font-size: 20px;
    top: 10px;
}

.site-footer {
    margin-top: 521px;
}